.checkout {
  display: flex;
  flex-direction: flex-start;
  background-color: white;
  height: max-content;
}
.checkout_left {
  width: 100%;
  /* background-color: white; */
}

.checkout_ad {
  width: 100%;
  margin-bottom: 10px;
  height: 200px;
}
.checkout_title {
  padding: 10px;
  margin-right: 10px;
  border-bottom: 1px solid lightgray;
  font-weight: 800;
}
.checkout_right {
  width: 100%;
  /* background-color: white; */
}
